body {
    margin: 0;
    font-family: IBM Plex 'Courier New', Courier, sans-serif;
    background-color: #222222;
    color: white;
    display: flex;
    font-family: "DM Sans", sans-serif;
    flex-direction: column;
}

#main-div {
    margin: 60px auto;
    background-color: #181818;
    padding: 40px;
    border-radius: 20px;
    height: fit-content;
}

#copyToast {
    bottom: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px #000000;
    font-size: 16px;
    opacity: 0;
    z-index: 1000;
}

#copyToast.show {
  opacity: 1;
    animation: fadeInOut 2s forwards;
}

.italic {
    font-style: italic;
    color: #777777;
    margin-top: -10px;
    margin-bottom: 25px;
}

button {
    background-color: white;
    font-weight: 600;
    padding: 10px 40px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 8px 16px #000000;
    margin: 20px 0 60px 0;
}

hr {
    background-color: #555555;
    height: 2px;
    border: none;
}

#inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

#inputs p {
    background-color: #272727;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #383838;
    color: #979797;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}